@media screen and (max-width: 891px ) {
    .banner {
    min-height: 40vh;
    background-position: center;
    }
}
@media screen and (max-width: 613px ) {
    .logo {
        width: 55px;
    }
    .site-navigation {
        min-width: 100%;
        justify-content: space-between;  
    }
    .page-header {
        justify-content: center;
    }
    .banner {
        min-height: 30vh;
        background-position: center;
    }
}
@media screen and (max-width: 533px ) {
    .logo {
        width: 55px;
    }
    .site-navigation {
        min-width: 100%;
        justify-content: space-between;
        font-size: small;
        
    }
    .page-header {
        justify-content: center;
    }
    .banner {
        min-height: 30vh;
        background-position: center;
    }
}
@media screen and (max-width: 434px ) {
    .logo {
        width: 55px;
    }
    .site-navigation {
        min-width: 100%;
        justify-content: space-between;
        font-size: 0.7em;
        
    }
    .page-header {
        justify-content: center;
    }
    .banner {
        min-height: 30vh;
        background-position: center;
    }
}
@media screen and (max-width: 374px ) {
    .logo {
        width: 55px;
    }
    .site-navigation {
        min-width: 100%;
        justify-content: space-between;
        font-size: x-small;
        
    }
    .page-header {
        justify-content: center;
    }
    .banner {
        min-height: 30vh;
        background-position: center;
    }
}

