body{
    background-color: bisque;
    margin: 0px;
    font-family: 'pixelify sans';
}
.logo{
    width: 60px;
}
.page-header{
    background-color: white;
}
img {
    max-width: 100%;
    display: block;
  }