body{
    background-color: bisque;
    margin: 0px;
    font-family: 'pixelify sans';
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.logo{
    width: 60px;
}
.page-header{
    background-color: white;
}
img {
    max-width: 100%;
    display: block;
  }